@model ClubAtleticoOrt.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}
<div class="opacityBg" style="margin:auto;">

<h1>Eliminar reserva</h1>

<h4>¿Estas seguro que quieres eliminar esta reserva?</h4>
<div>
    <!--h4Reserva</h4-->
    <hr />
    <dl class="">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nro_cancha)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nro_cancha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Regresar</a>
    </form>
</div>

</div>