@model ClubAtleticoOrt.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<div class="opacityBg" style="margin:auto;">
<h1>Detalles</h1>

    <!-- h4>Reserva</h4 -->
    <hr />
    <dl class="">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nro_cancha)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nro_cancha)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nro_Dni)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nro_Dni)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Regresar</a>
</div>
</div>
