@model IEnumerable<ClubAtleticoOrt.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="userWp">

<h1>Usuarios</h1>

<p class="">
    @if (ViewBag.Dni == null)
    {
        <a asp-action="Create" class="btn btn-secondary">Crear nuevo usuario</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <!--
    <th>
        @Html.DisplayNameFor(model => model.Contraseña)
    </th>
        -->
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
    -->
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>

            @if (ViewBag.Dni == item.Dni)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Dar de Baja</a>
                </td>
            }


        </tr>
}




    </tbody>
</table>

</div>